// Used Controls:["grid","input","numerictextbox","dropdownlist","datetime","panelbar"]
$base-theme:Bootstrap;
$skin-name:runbiz;
$swatch-name:Bootstrap;
$border-radius: 0.25rem;
$accent: #faa523;
$secondary: #cacaca;
$info: #17a2b8;
$success: #28a745;
$warning: #ffc107;
$error: #dc3545;
$body-bg: #ffffff;
$body-color: #292b2c;
$component-bg: #ffffff;
$component-color: #424242;
$card-cap-bg: #003366;
$card-cap-color: #ffffff;
$series-a: #0275d8;
$series-b: #5bc0de;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;
